.wrapper{
    background-color: rgb(243,243,249) !important;
    height: 800px;
}

.user_background_blue{
    background-color: rgb(66, 133, 244) !important;
    color: rgh(0,0,0) !important;
}

.user_color_green{
    color: rgb(55, 160, 0) !important;
}

a:hover{
    background-color: black !important;
    text-decoration-line: none !important;
}
a:link{
    text-decoration-line: none !important;
}

.item {
    padding-top:17px !important;
}
.menu {
    height:50px !important;
}

.sidemenubar {
    background-color: rgb(78, 115, 223);
    height: 800px;
    padding: 0 !important;
    padding-left: 50px !important;
}

.picsidemenubar {
    background-color: rgb(211, 211, 211);
    height: 80px;
    padding-left: 80px !important;
    padding-bottom: 0px !important;
}

button{
    width : 100%;
    border-radius: 5px;
    background-color: rgb(78, 115, 223);
    border-style: none;
    height: 60px;
    margin: 0 !important;
    text-align: left !important;
    padding: 0 !important;
    border: none !important;
    float: left !important;
}

.usericon{
    margin-top: 5px !important;
    margin-right: 10px !important;
}

button:hover{
    background-color: rgb(243,243,249) !important ;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

button:visited{
    border: none !important;
    background-color: rgb(243,243,249) !important ;
}

button:activated{
    border-style: none !important;
}

button:focus{
    outline: none !important;
}

h4 {
    font-family: 'Times New Roman', Times, serif !important;
    margin-left: 0px !important;
    padding-left: 10px !important;
    padding-top: 5px !important;
}

h5 {
    font-family: 'Times New Roman', Times, serif !important;
    margin-left: 60px !important;
}

.col-sm-12{
    height: 60px !important;
    transition-property: height !important;
    transition-duration: 1s !important;
    transition-delay: 0.5s !important;
}

.col-sm-12:focus{
    height: 300px !important;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
